SOCIAL_AUTH_GOOGLE_CLIENT_ID=75196085647-9jcda7p8802bzr5cb8ee3icrg2l4pvso.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_SECRET=GOCSPX-slvE0g9LNkr2APfJ3Svy24r7f7
METIS_API_KEY=tpsg-WTkPpTvWz25rb8Ex13ekmzR8ZAIzg6d
BASE_URL=https://api.metisai.ir/openai/v1
MODEL_NAME_LLM="gpt-4o-mini"

OLLAMA_API_URL=http://127.0.0.1:11434
LOCAL_MODEL_NAME="llama3"

OPENAI_API_KEY=tpsg-WTkPpTvWz25rb8Ex13ekmzR8ZAIzg6d
OPENAI_MODEL=gpt-4o-mini
GAPGPT_BASE_URL="https://api.gapgpt.app/v1"
GAPGPT_API_KEY="sk-iWbgWuTMzdWLfvVqNf2ayq97zEGJy7KdtkGxN6Q2ALryePzF"
GAPGPT_MODEL="gpt-4o-mini"
GAPGPT_EMBED_MODEL="text-embedding-3-large"
export OMP_NUM_THREADS=1
export MKL_NUM_THREADS=1
export TOKENIZERS_PARALLELISM=false
export FAISS_NUM_THREADS=1
